<!DOCTYPE html>
<html lang="en">
  <style>
    .headstyle {
      color: rgb(255, 255, 255);
      font-variant: petite-caps;
      background-color: rgb(0, 0, 0, 0.8);
      margin-bottom: 0px;
    }

    .divstyle {
      border-radius: 10px 10px 10px 10px;
      margin-left: 1px;
      margin-right: 1px;
    }
    .row,
    .text-center {
      background: rgb(230, 230, 250);
    }
    .headstyle {
      color: black;
    }
  </style>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <title>Healthzoid</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Healthzoid</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/covid">Covid</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/braintumor"
                >Brain Tumor</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/breastcancer"
                >Breast Cancer</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/alzheimer"
                >Alzheimer</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/diabetes"
                >Diabetes</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/pneumonia"
                >Pneumonia</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/heartdisease"
                >Heart Disease</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/parkinson"
                >Parkinson's Disease</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1
      class="text-center py-3"
      style="font-variant: petite-caps; margin-bottom: 0px"
    >
      <b><i>Healthzoid - Let our AI handle it</i></b>
    </h1>

    <div class="row" style="font-size: 20px; padding: 0px 50px 50px 50px">
      <p>
        <b>Healthzoid</b> is a viable disease prediction website which brings 8
        Disease Detections like Covid Detection, Brain Tumor Detection, Breast
        Cancer Detection, Alzheimer Detection, Diabetes Detection, Pneumonia
        Detection,Heart Disease Detection and Parkinson's Disease Detection under one platform.
      </p>

      <h2
        class="text-center py-3"
        style="
          color: rgb(255, 255, 255);
          font-variant: petite-caps;
          background-color: rgb(128, 64, 206);
          margin-bottom: 0px;
          border: solid 2px black;
          border-radius: 5px;
        "
      >
        <b><i>8 Disease Detections</i></b>
      </h2>

      <div class="divstyle" style="margin: 40px 20px 60px 20px">
        <div class="row py-3">
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Covid Detection</b>
            </h3>
            <a href="./covid"
              ><img
                src="../static/icons/covid.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Brain Tumor Detection</b>
            </h3>
            <a href="./braintumor"
              ><img
                src="../static/icons/braintumor.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Breast Cancer Detection</b>
            </h3>
            <a href="./breastcancer"
              ><img
                src="../static/icons/breastcancer.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Alzheimer Detection</b>
            </h3>
            <a href="./alzheimer"
              ><img
                src="../static/icons/alzheimer.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
        </div>
      </div>

      <div class="divstyle" style="margin: 40px 20px 60px 20px">
        <div class="row py-3">
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Diabetes Detection</b>
            </h3>
            <a href="./diabetes"
              ><img
                src="../static/icons/diabetes.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Pneumonia Detection</b>
            </h3>
            <a href="./pneumonia"
              ><img
                src="../static/icons/pneumonia.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Heart Disease Detection</b>
            </h3>
            <a href="./heartdisease"
              ><img
                src="../static/icons/heartdisease.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
          <div class="col md-3">
            <h3 class="text-center py-3 headstyle" style="font-size: 18px">
              <b>Parkinson's Disease</b>
            </h3>
            <a href="./parkinson"
              ><img
                src="../static/icons/parkinson.png"
                class="rounded mx-auto d-block"
            /></a>
          </div>
        </div>
      </div>

      <h3
        class="text-center py-3"
        style="
          color: rgb(255, 255, 255);
          font-variant: petite-caps;
          background-color: rgb(128, 64, 206);
          margin-bottom: 0px;
          border: solid 2px black;
          border-radius: 5px;
        "
      >
        <b><i>AI in HealthCare</i></b>
      </h3>
      <div class="row py-3" style="margin-bottom: 30px">
        <div class="col">
           <p class="text-left" style="font-size: 18px">
            In healthcare, delays can mean the difference between life and
            death; so Healthzoid - our all-in-one disease prediction platform
            can predict and detect early onset diseases with just a click of a
            button! A significant AI use case in healthcare is the use of ML and
            other cognitive technologies like deep learning disciplines for
            medical diagnostic purposes. Using patient data and other
            information according to the disease, can help doctors and other
            medical providers deliver more accurate diagnoses and treatment
            plans. We plan to implement the same in the future by creating more
            and more accurate models which help lead the path for more
            innovative and exclusive ideas for a better future for not just you,
            and I; - but for everyone.
          </p>
        </div>
        <div class="col">
          <img
            src="../static/healthzoid.png"
            class="img-fluid rounded mx-auto d-block"
            alt="..."
          />
        </div>
      </div>

      <h3
        class="text-center py-3"
        style="
          color: rgb(255, 255, 255);
          font-variant: petite-caps;
          background-color: rgb(128, 64, 206);
          margin-bottom: 0px;
          border: solid 2px black;
          border-radius: 5px;
        "
      >
        <b><i>Machine Learning</i></b>
      </h3>
      <div class="row py-3" style="margin-bottom: 30px">
        <div class="col">
          <p class="text-left" style="font-size: 18px">
            In the past decade, the application of machine learning (ML) to
            healthcare has helped drive the automation of physician tasks as
            well as enhancements in clinical capabilities and access to care. We
            use multiple datasets provided from the most up-to-date websites,
            gather the data and train them as models to implement in society.
            Using supervised learning, we provide you with models which are all
            able to achieve over 80% accuracy trained via Naive Bayes
            classifiers, random forest etc.
          </p>
        </div>
        <div class="col">
          <img
            src="../static/ml.png"
            class="img-fluid rounded mx-auto d-block"
            alt="..."
          />
        </div>
      </div>

      <h3
        class="text-center py-3"
        style="
          color: rgb(255, 255, 255);
          font-variant: petite-caps;
          background-color: rgb(128, 64, 206);
          margin-bottom: 0px;
          border: solid 2px black;
          border-radius: 5px;
        "
      >
        <b><i>Natural Language Processing</i></b>
      </h3>
      <div class="row py-3" style="margin-bottom: 30px">
        <div class="col">
          <p class="text-left" style="font-size: 18px">
            Making sense of human language has been a goal of AI researchers
            since the 1950s. This field, NLP, includes applications such as
            speech recognition, text analysis, and, obviously health depicting
            among other goals related to language. In healthcare, the dominant
            applications of NLP involve the creation, understanding and
            classification of clinical documentation and published research. NLP
            systems can analyse from unstructured huge amounts of data and make
            sense of it in a way to make our lives easier.
          </p>
        </div>
        <div class="col">
          <img
            src="../static/nlp.jpg"
            class="img-fluid rounded mx-auto d-block"
            style="width: auto; height: 300px"
            alt="..."
          />
        </div>
      </div>
    </div>

    <footer class="text-light position-relative">
      <p class="text-center py-1 my-0 bg-dark">
        &copy; 2022 - ALL RIGHTS RESERVED
        <br>
        By - BCA + BSC 2023 TEAM
      </p>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
